<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Aplicación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <div class="inner-header flex">
            <div class="container">
                <h1 class="title" style="font-weight: bold;">Pricing Derivados Climáticos</h1>
                <div>
                    <p style="color: #ffffff; font-size: 18px; max-width: 740px;">
                        Esta aplicación ha sido diseñada para llevar a cabo el cálculo de precios de derivados climáticos, centrándose en la temperatura,
                        para las principales regiones cafetaleras de Colombia.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
    </div>
    <div class="container2">
        
        <div class="grafica">
            
            <img id="grafica" src="grafica.png" alt="Gráfica" width="400">
        </div>
        <div class="opciones">
            <div class="form-group">
                <p style="font-size: 25px; text-align: center; font-weight: bold; color: rgba(84,58,183,1);">
                    A continuacion ingrese los parametros para realizar el pricing
                </p>
                <div class="container3">
                    <p style="font-size: 20px; text-align: left;">Seleccione la ciudad de interes</p>
                    <div class="select">
                        <select id="ciudad">
                            <option value="Anti">Antioquia</option>
                            <option value="Narino">Nariño</option>
                            <option value="NortSan">Norte de Santander</option>
                            <option value="Tolima">Tolima</option>
                            <option value="Cauca">Cauca</option>
                        </select>
                    </div>
                    <div class="down_note"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="container3">
                    <p style="font-size: 20px; text-align: left;">Seleccione el mes de interes</p>
                    <div class="select">
                        <select id="mes">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                        </select>
                    </div>
                    <div class="down_note"></div>
                </div>
            </div>
            <!-- Nuevo campo para valor numérico -->
            <div class="form-group">
                <div class="container3">
                    <p style="font-size: 20px; text-align: left;">Ingrese el valor numérico deseado</p>
                    <div class="select">
                        <input type="number" id="valorNumerico" placeholder="Ingrese un valor" style="width: 100%;">
                    </div>
                    <div class="down_note"></div>
                </div>
            </div>
            <button class="button-29" role="button" style="display: block; margin: 0 auto;width: 200px;text-align: center;margin-top: 0.5cm;">
                Calcular
            </button>
        </div>
    </div>
    <div class="contenedor5">
        <div class="rectangulo">
            <p style="font-size: 25px; text-align: center; font-weight: bold; color: rgb(210, 201, 249);">Call Option</p>
            <p style="font-size: 20px; text-align: center;  color: rgb(255, 255, 255);">$ 120.000</p>
        </div>
        <div class="rectangulo">
            <p style="font-size: 25px; text-align: center; font-weight: bold; color: rgb(210, 201, 249);">Put option</p>
            <p style="font-size: 20px; text-align: center;  color: rgb(255, 255, 255);">$ 320.000</p>
        </div>
    </div>




</body>
</html>
